@page "/calculator"
@using DiLaEmp.Localization
@using DiLaEmpLibrary.Calculators
@inject IStringLocalizer<CultureDiLaEmp> Loc

<PageTitle>@Loc["Calculator"]</PageTitle>

<div class="d-flex flex-column align-items-start gap-2">
    <div class="form-check">
        <input id="inputCalculateEndDate" class="form-check-input" type="radio" checked="@(isCalculateEndDate)"
               name="Calculate" @onchange="@(() => isCalculateEndDate = true)" />
        <label class="form-check-label" for="inputCalculateEndDate">@Loc["CalculateEndDate"]</label>
    </div>
    
    <div class="form-check">
        <input id="inputCalculateAmountHours" class="form-check-input" type="radio" checked="@(!isCalculateEndDate)"
               name="Calculate" @onchange="@(() => isCalculateEndDate = false)" />
        <label class="form-check-label" for="inputCalculateAmountHours">@Loc["CalculateAmountHours"]</label>
    </div>

    <div class="d-flex align-items-baseline gap-3 p-2 mt-3">
        <div class="form-label text-nowrap">@Loc["StartDate"]: </div>
        <VisualDate Date="@startDate"/>
    </div>

    <div class="d-flex flex-wrap align-items-baseline gap-3 border p-2">
        <div class="form-label text-nowrap card-title">@Loc["HoursOn"]: </div>
        <HoursByDayOfWeek HoursOnMonday="@hoursOnMonday" HoursOnTuesday="@hoursOnTuesday" HoursOnWednesday="@hoursOnWednesday"
                          HoursOnThursday="@hoursOnThursday" HoursOnFriday="@hoursOnFriday" HoursOnSaturday="@hoursOnSaturday"
                          HoursOnSunday="@hoursOnSunday"/>
    </div>

    <div class="d-flex align-items-baseline gap-3 p-2">
        <div class="form-label text-nowrap">@Loc["AmountHours"]: </div>
        <InputNumber step="0.01" class="form-control" @bind-Value="amountHours" disabled=@{!isCalculateEndDate} />
        <div class="form-label text-nowrap"> @Loc["hours"]</div>
    </div>

    <div class="d-flex align-items-baseline gap-3 p-2">
        <div class="form-label text-nowrap">@Loc["AmountDays"]: </div>
        <InputNumber step="0.01" class="form-control" @bind-Value="amountDays" disabled />
        <div class="form-label text-nowrap"> @Loc["days"]</div>
    </div>

    <div class="d-flex align-items-baseline gap-3 p-2">
        <div class="form-label text-nowrap">@Loc["EndDate"]: </div>
        <VisualDate Date=@endDate SetDisabled=@isCalculateEndDate />
    </div>
</div>

<div class="align-items-baseline gap-3 p-2 mt-3 mb-4 border">
    <div class="form-label text-nowrap card-title">@Loc["HolidayCalendar"]: </div>
    <div class="gap-3 ms-5">
        <CalendarWrapper Holidays="@holidays" />
    </div>
</div>

<div class="mb-5">
    <RadzenButton Text="@Loc["Calculate"]"
                  Icon="calculate"
                  Click="@Calculate"
                  ButtonStyle="ButtonStyle.Primary" />
</div>


@code {
    private DateOnly startDate = DateOnly.FromDateTime(DateTime.UtcNow);
    private DateOnly endDate;
    private int amountHours;
    private decimal amountDays;
    private decimal hoursOnMonday = 8;
    private decimal hoursOnTuesday = 8;
    private decimal hoursOnWednesday = 8;
    private decimal hoursOnThursday = 8;
    private decimal hoursOnFriday = 8;
    private decimal hoursOnSaturday = 0;
    private decimal hoursOnSunday = 0;

    private SortedSet<DateTime?> holidays = new SortedSet<DateTime?>();

    private bool isCalculateEndDate = true;

    private void Calculate()
    {
        if (isCalculateEndDate)
        {
            IDictionary<DayOfWeek, decimal> hoursByDay = generateHoursByDay();

            (endDate, amountDays) = CalculateEndDate.CalculateTheEndDate(startDate, amountHours, hoursByDay,
                        DateUtils.GetDateOnlysFromDateTimes(holidays));
        }
        else
        {
            
        }


    }

    private IDictionary<DayOfWeek, decimal> generateHoursByDay()
    {
        return new SortedDictionary<DayOfWeek, decimal>
        {
            { DayOfWeek.Monday, hoursOnMonday },
            { DayOfWeek.Tuesday, hoursOnTuesday },
            { DayOfWeek.Wednesday, hoursOnWednesday },
            { DayOfWeek.Thursday, hoursOnThursday },
            { DayOfWeek.Friday, hoursOnFriday },
            { DayOfWeek.Saturday, hoursOnSaturday },
            { DayOfWeek.Sunday, hoursOnSunday }
        };
    }
}
